
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
        
    </head>





    <div style="position:relative; width:15em; left:40%; top:2em;   "> 
        <h1> <span class="label label-default">ABM productos</span></h1><br><br>
<form action="add" method="post">
     <div class="form-group">
    <label for="producto">Agregar producto:</label>
    <input type="text" name="nombre" class="form-control" id="producto">
  </div>
    <button type="submit" class="btn btn-default">Enviar</button> 
    
</form>
</div>     

    <div style="position: relative; background-color: transparent; top:10%;">
        
 <div class="container">
     <h2>Productos</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Default</td>
        <td>Defaultson</td>
        
      </tr>      
      <tr class="success">
        <td>Success</td>
        <td>Doe</td>
       
      </tr>
      <tr class="danger">
        <td>Danger</td>
        <td>Moe</td>
       
      </tr>
      <tr class="info">
        <td>Info</td>
        <td>Dooley</td>
        
      </tr>
      <tr class="warning">
        <td>Warning</td>
        <td>Refs</td>
       
      </tr>
      <tr class="active">
        <td>Active</td>
        <td>Activeson</td>
        
      </tr>
    </tbody>
  </table>
</div> 
        
        
    </div>

    
        
        
        
        
